{%extends 'base.html' %}
{% block content %}


<div class="container p-5">
    <div class="p-4 m-4">
        <div class="col-lg-6 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded pt-4">Profile</h3>
            <form action="/profile_view" method="">
               <div class="center">
                   <div class="card">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>First Name </b>: {{user.first_name}}</li>
                            <li class="list-group-item"><b>Last Name </b>: {{user.last_name}}</li>
                            <li class="list-group-item"><b>Email </b>: {{user.email}}</li>
                            <li class="list-group-item"><b>Date of birth </b>:{{user.dob}} </li>
                            <li class="list-group-item"><b>Age </b>: {{user.age}} </li>
                            <li class="list-group-item"><b>Gender </b>: {{user.gender}}</li>
                            <li class="list-group-item"><b>Address </b>: {{user.address}}</li>
                            <li class="list-group-item"><b>City </b>: {{user.city}}</li>
                            <li class="list-group-item"><b>State </b>: {{user.state}}</li>
                            <li class="list-group-item"><b>Country</b>: {{user.country}}</li>
                            <li class="list-group-item"><b>Pin code </b>: {{user.pin_code}}</li>
                            <li class="list-group-item"><b>Mobile Number </b>: {{user.mobile_number}}</li>
                          </ul>
                   </div>
               </div>

            </form>
        </div>

    </div>

</div>
{% endblock %}